/Running_Dataset/**
/Dataset/**
/Dataset_V2/**
/csv_labels/**
/gedi_files/**
/labels/**
/logs/**
/models/**
/plots/**
/results/**
/runs/**
/weights/**
/check_points/**
/H5_labels/**
/hf_data/**
/resource/**
/output/**
/plots/**
/results/**
/runs/**
/weights/**
/check_points/**
/H5_labels/**
/hf_data/**
/resource/**
/__pycache__
/.vscode
biomass_model.ckpt
Dataset_V2.zip
*.log
*.out
*.pyc
**/__pycache__/**/

